.calc {
  min-height: 1026px;
  @include bg;
  background-image: url('/src/img/bgs/calc-bg.jpg');
  padding-top: 80px;
  padding-bottom: 97px;

  @media (max-width: 991px) {
    padding-top: 50px;
    padding-bottom: 95px;
    min-height: auto;
  }
}

.calc__title {
  @include title;
  margin-bottom: 82px;
  text-align: center;

  @media (max-width: 965px) {
    br {
      display: none;
    }
  }
}

.calc__content {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 60px;
  padding-bottom: 89px;
  background-color: rgba(white, 0.9);
  @include max-width(680px);
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    padding-bottom: 76px;
  }

  @media (max-width: 650px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 66px;
  }
}

.calc__input-box {
  margin-bottom: 50px;

  @media (max-width: 650px) {
    margin-bottom: 20px;
  }
}

.calc__input-label {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;

  @media (max-width: 650px) {
    font-size: 16px;
  }
}

.calc__endpoints {
  display: flex;
  justify-content: space-between;
}

.calc__endpoint {
  width: 30px;
  text-align: center;
  font-size: 18px;
  color: black;
  position: relative;

  @media (max-width: 650px) {
    font-size: 13px;
  }
}

.calc__endpoint-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: -21px;
  background-color: black;

  &_active {
    background-color: #ffdd00;
  }
}

.calc__input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 9px;
  margin-bottom: 10px;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    #ffdd00 0%,
    #ffdd00 50%,
    black 50%,
    black 100%
  );
  background-color: black;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    width: 22px;
    height: 22px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffdd00;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 50%;

    &:hover,
    &:focus {
      transform: scale(1.1);
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  &::-moz-range-thumb {
    width: 22px;
    height: 22px;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffdd00;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 50%;

    &:hover,
    &:focus {
      transform: scale(1.1);
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  &::-ms-thumb {
    width: 22px;
    height: 22px;
    appearance: none;
    background-color: #ffdd00;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 50%;

    &:hover,
    &:focus {
      transform: scale(1.1);
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
}

.calc__result-box {
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  border-radius: 45px;
  background-color: white;

  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    gap: 5px;
  }
}

.calc__result-text {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
  color: black;
  width: 47%;

  @media (max-width: 767px) {
    font-size: 23px;
  }

  @media (max-width: 650px) {
    text-align: center;
    width: 100%;
  }
}

.calc__result {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  color: black;

  @media (max-width: 650px) {
    font-size: 20px !important;
  }
}
