.feedback {
  padding-top: 84px;
  padding-bottom: 80px;

  @media (max-width: 991px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  &_bottom {
    padding-top: 0;
    padding-bottom: 95px;
    position: relative;
    z-index: 2;

    @media (max-width: 991px) {
      padding-top: 0px;
      padding-bottom: 60px;
    }

    @media (max-width: 767px) {
      padding-top: 0px;
      padding-bottom: 40px;
    }
  }
}
