.input-error {
  border-bottom: 1px solid #ce211f;

  & + svg {
    path,
    rect {
      fill: #ce211f;
    }
  }

  color: #ce211f !important;

  &::-webkit-input-placeholder {
    color: #ce211f;
  }

  &::-moz-placeholder {
    color: #ce211f;
  }

  &:-ms-input-placeholder {
    color: #ce211f;
  }

  &:-moz-placeholder {
    color: #ce211f;
  }

  &:hover,
  &:focus {
    &::-webkit-input-placeholder {
      color: #ce211f;
    }

    &::-moz-placeholder {
      color: #ce211f;
    }

    &:-ms-input-placeholder {
      color: #ce211f;
    }

    &:-moz-placeholder {
      color: #ce211f;
    }
  }
}

.checkbox-input-error {
  path {
    fill: red;
  }
}

.checkbox-input-error + p, .checkbox-input-error + p button {
  color: red !important;
}
